.form-main {
  text-align: center;
  font-size: 16px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: lightskyblue;
  font-size: 20px;
  padding: 5px;
}

.form-degrees {
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: lightskyblue;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}

.form-degrees:hover {
  background-color: red;
  color: white;
}

.form-button {
  border: 1px solid black;
  border-radius: 20px;
  width: 150px;
  padding: 5px;
  background-color: blue;
  color: azure;
  margin: 0 auto;
  cursor: pointer;
}

.form-button:hover {
  background-color: red;
}

#degrees {
  color: blue;
}
