.form-main {
  text-align: center;
  font-size: 16px;
  padding: 5px;
}

.form-input {
  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: lightskyblue;
  margin: 5px;
  font-size: 20px;
  padding: 5px;
}

.form-button {
  border: 1px solid black;
  border-radius: 20px;
  width: 150px;
  padding: 5px;
  margin: 5px;
  background-color: blue;
  color: azure;
}
